.profileInfoSectionContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 100px;
  padding: 30px 0px;
}

.profileDescriptonText {
  padding: 14px 0px;
}

.profileInfoAbilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 14px 0px;
  gap: 16px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profileInfoSectionContainer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
