:root {
  --white: #fff;
  --color: #666768;
  --color-blue: #6b7998;
  --slider-navigation-active: #797674;
  --slider-navigation-disabled: #bfbcb9;
  --company-section-bg: #f7f6f6;

  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
}

.container > * {
  grid-column: 2;
}
