@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root {
  --white: #fff;
  --color: #666768;

  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
}

.container > * {
  grid-column: 2;
}
