.introSloganContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoImage {
  width: fit-content;
  margin-bottom: 20px;
  object-fit: contain;
}

.headerTextImage {
  width: fit-content;
  object-fit: contain;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .logoImage {
    width: 80%;
    margin-bottom: 0px;
  }

  .headerTextImage {
    width: 80%;
    margin-bottom: 24px;
  }
}
