.userInformationContainer {
  margin-top: 14px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color-gray);
}

.userInformationName {
  font-size: 24px;
  color: var(--color-blue);
  font-weight: 600;
}

.userInformationJob {
  font-size: 18px;
  color: var(--color-gray);
  font-weight: 600;
}

.userInformationLocation {
  display: block;
  font-size: 18px;
  color: var(--color-gray);
  margin-bottom: 10px;
  font-weight: 600;
}

.userInformationEmail {
  display: block;
  font-size: 18px;
  color: var(--color-gray);
}

.userInformationPhone {
  display: block;
  font-size: 18px;
  color: var(--color-gray);
  margin-bottom: 18px;
}

.userInformationEditLink {
  font-size: 14px;
  color: var(--color-blue);
  text-decoration: underline;
  display: block;
  margin-top: 16px;
  font-weight: 600;
}
