.certificateContainer {
  margin-top: 14px;
  margin-bottom: 20px;
}

.certificateTitle {
  font-size: 24px;
  color: var(--color-blue);
  margin-bottom: 10px;
  font-weight: 600;
}

.certificateOrganisation {
  font-size: 18px;
  color: var(--color-gray);
  font-weight:600;
}

.certificateDate {
  color: var(--color-gray);
  font-weight: 500;
}
